<main>
<section class="postscontainer">
<div class="postcomment">
<h4>Post <%= @post.id%> by <%= @user.name %><h4>
  <h4><%= @post.title %></h4>
  <p class="commentcounter">Comments: <%= @post.comments_counter || 0%>, Likes: <%= @post.likes_counter || 0%></p>
  <p><%= @post.text %></p>
  </div>
  
  <%= render partial: 'comment', locals: {post: @post, comments: @post.comments}%>
  <%= link_to new_user_post_comment_path(@user, @post) do %>
  <button class="btn">Add Comment</button>
  <% end %>
  </section>
  </main>